<div class="flex justify-center w-screen py-10">
  <div class="w-1/2">
    <h1 class="text-4xl">Edit Student</h1>
    <p-divider />
    <div class="flex flex-col gap-5">
      <form [formGroup]="form">
        <div class="flex flex-col gap-4 justify-center">
          <div class="flex flex-col gap-1">
            <label for="name" class="px-1 text-sm font-bold">Name</label>
            @if (form.get('name')?.touched && form.get('name')?.invalid) {
            <div class="px-1 text-sm text-red-500">Please input valid name</div>
            }
            <input type="text" pInputText formControlName="name" />
          </div>
          <div class="flex flex-col col-span-3 gap-1">
            <label for="student_code" class="px-1 text-sm font-bold"
              >Student code</label
            >
            @if (form.get('student_code')?.touched &&
            !form.get('student_code')?.value) {
            <div class="px-1 text-sm text-red-500">
              Student Code is required
            </div>
            }
            <input pInputText formControlName="student_code" />
          </div>

          <div class="flex flex-col gap-1">
            <label for="Class Name" class="px-1 text-sm font-bold"
              >Class Name</label
            >
            @if (form.get('classroom')?.touched &&
            !form.get('classroom')?.value) {
            <div class="px-1 text-sm text-red-500">Class Name is required</div>
            }
            <div class="grid grid-cols-10">
              <div class="col-span-7">
                <input
                  pInputText
                  [disabled]="true"
                  [value]="classroom?.name ?? ''"
                  [style]="{ width: '100%' }"
                />
              </div>
              <div class="col-span-3 flex justify-end">
                <p-button
                  [outlined]="true"
                  (onClick)="selectClass()"
                  severity="success"
                  icon="pi pi-plus"
                  label="Select Class"
                  [style]="{ width: '100%' }"
                />
              </div>
            </div>
          </div>
        </div>
      </form>

      <div class="flex justify-center">
        <p-button (onClick)="submit()" severity="success">Submit</p-button>
      </div>
    </div>
  </div>
</div>
