<div class="flex justify-center py-10 w-screen">
  <div class="w-1/2">
    <h1 class="text-4xl">Edit Classroom</h1>
    <p-divider />
    <div class="flex flex-col gap-5">
      <div class="flex justify-end">
        @if (editing) {
          <p-button
            label="Save"
            (onClick)="submit()"
            severity="success"
            icon="pi pi-check"
          />
        } @else {
          <p-button
            label="Edit"
            (onClick)="enableEditing()"
            icon="pi pi-pencil"
            severity="secondary"
          />
        }
      </div>
      <form [formGroup]="form">
        <div class="flex flex-col gap-4 justify-center">
          <div class="flex flex-col gap-1">
            <label for="name" class="px-1 text-sm font-bold">Class Name</label>
            @if (form.get('name')?.touched && form.get('name')?.invalid) {
              <div class="px-1 text-sm text-red-500">
                Please input valid class name
              </div>
            }
            <input
              [disabled]="!editing"
              type="text"
              placeholder="Enter class name"
              pInputText
              formControlName="name"
            />
          </div>
          <div class="flex flex-col gap-1">
            <label for="Class Name" class="px-1 text-sm font-bold"
              >Teacher</label
            >
            @if (form.get('teacher')?.touched && !form.get('teacher')?.value) {
              <div class="px-1 text-sm text-red-500">Teacher is required</div>
            }
            <div class="grid grid-cols-10 gap-5">
              <div class="col-span-7">
                <input
                  pInputText
                  [disabled]="true"
                  [value]="
                    teacher
                      ? teacher.first_name + ' ' + teacher.last_name
                      : 'Please select a teacher'
                  "
                  placeholder="Select teacher"
                  [style]="{ width: '100%' }"
                />
              </div>
              <div class="flex col-span-3 justify-end">
                <button
                  pButton
                  outlined
                  severity="success"
                  icon="pi pi-plus"
                  class="flex gap-2 justify-center items-center w-full font-bold"
                  (click)="selectTeacher()"
                  [disabled]="!editing"
                >
                  Select Teacher
                </button>
              </div>
            </div>
          </div>
        </div>
        <p-divider />
        <div class="flex flex-col gap-3">
          <h2 class="m-0 text-2xl font-semibold">Students List</h2>
          <p-table
            #dt
            dataKey="id"
            [autoLayout]="true"
            selectionMode="multiple"
            [rows]="rows"
            [paginator]="true"
            [(selection)]="selectedStudents"
            [rowHover]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true"
            [paginator]="true"
            [lazy]="true"
            [rows]="rows"
            [first]="first"
            [totalRecords]="count"
            (onPage)="onPage($event)"
            [loading]="loading"
            [value]="students"
            datakey="index"
          >
            <ng-template pTemplate="caption">
              <div class="flex flex-row justify-between w-full">
                <div class="flex gap-2" *ngxPermissionsOnly="'staff'">
                  <p-button
                    (click)="addStudents()"
                    icon="pi pi-plus"
                    severity="success"
                    label="Add students"
                    [outlined]="true"gti
                  />
                  <p-button
                    severity="danger"
                    label="Delete"
                    icon="pi pi-trash"
                    (onClick)="deleteSelectedStudents()"
                    [disabled]="!selectedStudents || !selectedStudents.length"
                  />
                  <p-button
                    label="Clear"
                    icon="pi pi-times"
                    (onClick)="clearSelectedStudents()"
                  />
                </div>
                <span class="p-input-icon-left">
                  <i class="pi pi-search"></i>
                  <input
                    pInputText
                    type="text"
                    (keyup)="handleSearch(getValue($event))"
                    placeholder="Search..."
                  />
                </span>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th *ngxPermissionsOnly="'staff'"></th>
                <th>Index</th>
                <th>Id</th>
                <th>Student Code</th>
                <th>Name</th>
                <th *ngxPermissionsOnly="'staff'"></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-student let-index="rowIndex">
              <tr>
                <td>
                  <p-tableCheckbox [value]="student" />
                </td>
                <td>
                  {{ index + 1 }}
                </td>
                <td>
                  {{ student.id }}
                </td>
                <td>
                  {{ student.student_code }}
                </td>
                <td
                  class="overflow-hidden whitespace-nowrap text-ellipsis max-w-60"
                >
                  {{ student.name }}
                </td>
                <td>
                  <p-button
                    [rounded]="true"
                    icon="pi pi-trash"
                    severity="danger"
                    [outlined]="true"
                    (onClick)="deleteStudent(index)"
                  />
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="100">
                  No students have been added yet. Add some students with
                  <span class="font-bold">Add Students</span>.
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </form>

      <div class="flex justify-center">
        <p-button (onClick)="deleteClass()" severity="danger"
          >Delete Class</p-button
        >
      </div>
    </div>
  </div>

  <p-dialog />
  <p-confirmDialog [style]="{ width: '450px' }" />
</div>
